:root {
    --text-color: #43007E;
    --light-color: #FFFAFE;
    --dark-color: #8829DB;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Paytone One';
    background: var(--light-color);
    height: 200vh;
}
h1 {
    font-family: 'Lobster';
    font-size: 4vw;
    color: var(--text-color);
}
a {
    text-decoration: none;
    color: var(--light-color);
    padding: 10px 15px;
}
.btn-light {
    color: var(--text-color);
    font-family: 'Paytone One';
    background: var(--light-color);
    border-radius: 5px;
}
.btn-light-hollow {
    font-family: 'Paytone One';
    color: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 5px;
}
.btn-light-hollow:hover {
    color: var(--light-color);
    background: var(--text-color);
    border-radius: 5px;
}
.btn-dark {
    color: var(--light-color);
    font-family: 'Paytone One';
    background: var(--text-color);
    border-radius: 5px;
    border: 2px solid var(--text-color);
}
.btn-dark-hollow {
    color: var(--light-color);
    font-family: 'Paytone One';
    border-radius: 5px;
    border: 2px solid var(--light-color);
}
.btn-dark-hollow:hover {
    color: var(--text-color);
    background: var(--light-color);
}
.head-menu a:hover {
    color: var(--text-color);
    background: var(--light-color);
    border-radius: 5px;
}
#header {
    position: relative;
    width: 100%;
    height: 15vw;
}
.head-svg {
    position: absolute;
    top: -10vw;
    left: 0;
    z-index: 0;
}
.head-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
}
.head-menu ul {
    flex: 1 0 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px;
    height: 50px;
    box-sizing: border-box;
    list-style-type: none;
}
.head-menu li {
    margin-right: 4px;
}
.head-logo {
    margin: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-logo img {
    width: 100px;
}
#main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50px);
    max-width: 1300px;
    margin: 0 auto;
}
#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#hero .left {
    flex: 1 0;
    font-family: 'Lobster';
    font-size: 2.5vw;
    color: var(--text-color);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}
.left p {
    display: none;
}
#main .img {
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
}
.right {
    flex: 2 1;
}
#about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10vh;
}
#about .left {
    font-family: 'Nothing You Could Do';
    flex: 2 1;
    margin-left: 50px;
    text-align: left;
    font-size: 2.5vw;
    color: var(--text-color);
}
#services {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#services h1 {
    margin-bottom: 7vh;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    z-index: 1;
    align-items: center;
}
.cards p {
    padding-bottom: 10px;
}
.card-light, .card-dark {
    text-align: center;
    flex: 0 0 220px;
    font-family: 'Cambria';
    line-height: 1.5em;
    padding: 0 20px 30px 20px;
    color: var(--text-color);
    border-radius: 10px;
}
h2 {
    font-size: 1.8em;
    font-family: 'Paytone One';
}
.card-light {
    background: var(--light-color);
    border: 2px solid var(--text-color);
    height: 100%;
}
.card-dark {
    background: rgb(67,0,126);
    background: linear-gradient(0deg, rgba(67,0,126,1) 0%, rgba(136,41,219,1) 100%);
    color: var(--light-color);
    flex: 0 0 260px;
    font-size: 1.2em;
}
#team {
    margin-top: -10vw;
    position: relative;
}
.svg-top {
    transform: rotate(180deg);
}
#team .content {
    background: #8829DB;
    color: var(--light-color);
    margin-top: -10px;
    margin-bottom: -10px;
}
#team .content h1 {
    color: white;
    margin: 0 0 20px 10%;
}
.inner {
    width: calc(100vw - 50px); 
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.person {
    flex: 0 0 200px;
    min-height: 200px;
    margin: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.2);
}
.person img {
    border-radius: 50%;
    width: 150px;
}
.name {
    font-size: 1.2em;
    margin-top: 10px;
}
.person a {
    padding: 0;
    margin: 3px;
    font-size: 1.6em;
    color: rgba(255,255,255,0.7);
}
.person a:hover {
    color: white;
}
#contact {
    color: var(--light-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(0,0,0,0.6);
    background-image: url('img/office-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    margin-top: -15%;
    padding-top: 10%;
}
#contact h1 {
    color: var(--light-color);
    flex: 2;
    text-align: center;
}
#contact .inner {
    flex-wrap: nowrap;
}
#contact .form {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact .address {
    flex: 0 1 400px;
    color: white;
    font-size: max(1.3vw, 1.2em);
}
p.main {
    font-size: 1.4em;
    font-weight: bold;
}
p.phone {
    color: rgba(255,255,255,0.6);
}
input, textarea {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 8px;
    font-size: max(1.3vw, 1.2em);
    background: rgba(255,255,255,0.9)
}
textarea {
    height: 40%;
}

@media only screen and (max-width: 1300px) {
    .head-svg {
        top: -5vw;
    }
}
@media only screen and (max-width: 1000px) {
    .person {
        transform: scale(1);
    }
    #contact .inner {
        flex-direction: column;
    }
    #contact h1 {
        order: 1;
        font-size: 8vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    #contact .address {
        order: 2;
        flex-basis: 100%;
        text-align: center;
    }
    #contact .form {
        order: 3;
        flex-basis: 90%;
        margin-bottom: 30px;
    }
    textarea {
        height: 90px;
    }
    .cards {
        width: 300px;
    }
    .card-dark {
        margin: 50px 0;
        order: -1;
    }
    .card-light {
        display: none;
    }
    h1 {
        font-size: 6vw;
    }
    #about .left {
        font-size: 3vw;
    }
}
@media only screen and (max-width: 630px) {
    .left p {
        display: block;
    }
    .head-menu ul {
        display: none;
    }
    #hero {
        flex-direction: column;
    }
    .right {
        order: -1;
    }
    .head-logo img {
        width: 15vw;
    }
    #about {
        flex-direction: column;
    }
    #about .right {
        display: none;
    }
    #about .left {
        font-size: 7vw;
        text-align: center;
        margin-left: 0;
    }
    #services {
        margin-top: 40px;
        font-size: .9em;
    }
    #services h1 {
        display: none;
    }
    /* .cards .active {
        transform: scale(1);
    } */
    .cards {
        margin: -40px;
    }
    #contact h1, #team h1 {
        font-size: 3em;
    }
    #hero .left, .left h1 {
        font-size: 1.5em;
    }
    .inner {
        width: 100%; 
        max-width: 1300px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .person {
        flex: 1;
        min-height: 200px;
        margin: 0 0 20px 0;
    }
    #contact .form {
        width: 90%;
        align-self: center;
    }
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  @keyframes animate-top {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes animate-right {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.anim-top, .anim-right {
    opacity: 0;
}