:root {
    --text-color: #43007E;
    --light-color: #FFFAFE;
    --dark-color: #8829DB;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Paytone One';
    background: var(--light-color);
    height: 200vh;
}
a {
    text-decoration: none;
    color: var(--light-color);
    padding: 10px 15px;
}
.btn {
    color: var(--text-color);
    font-family: 'Paytone One';
    background: var(--light-color);
    border-radius: 5px;
}
.btn-dark {
    font-family: 'Paytone One';
    color: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 5px;
    font-size: 2vw;
}
.btn-dark:hover {
    color: var(--light-color);
    background: var(--text-color);
    border-radius: 5px;
}
a:hover {
    color: var(--text-color);
    background: var(--light-color);
    border-radius: 5px;
}
#header {
    position: relative;
    width: 100%;
    height: 15vw;
}
.head-svg {
    position: absolute;
    top: -5vh;
    left: 0;
    z-index: 0;
}
.head-menu {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
}
.head-menu ul {
    flex: 1 0 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 70px;
    height: 50px;
    box-sizing: border-box;
    list-style-type: none;
}
.head-menu li {
    margin-right: 4px;
}
.head-logo {
    margin: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-logo img {
    width: 100px;
}
#main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 50px);
    max-width: 1300px;
    margin: 0 auto;
}
#hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left {
    flex: 1 0;
    font-family: 'Lobster';
    font-size: 3vw;
    color: var(--text-color);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    /* background: lightgreen; */
}
#main .img {
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
}
.right {
    flex: 2 1;
    /* background: lightpink; */
}
#about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 10vh;
}
#about .left {
    font-family: 'Nothing You Could Do';
    flex: 2 1;
    margin-left: 50px;
    text-align: left;
}

@media only screen and (min-width: 1300px) {
    .head-svg {
        top: -10vw;
    }
}